<nav id="article-navi">
    <div class="article-navi-search">
        <div style="border:1px solid #1F8C78;border-radius: 16px; height: 32px;background-color: #FFF; line-height: 32px; padding-left: 16px; font-size: 16px; color: #AAA;"><i class="fas fa-search"></i> Googleカスタム検索</div>
</div>
    <div class="article-navi-menu">
        <ul class="article-navi-list">
{% for learn in site.data.learn.learn %}
            <li class="article-navi-item">
    {% if page.type == "index" %}
                <a class="article-navi-contents-link touch anker" href="#{{ learn.id }}">
    {% else %}
                <a class="article-navi-contents-link touch" href="../{{ learn.anker }}">        
    {% endif %}
                    <i class="fas fa-download"></i>{{ learn.title }}
                </a>
                <ul class="article-navi-contents-list">
    {% for document in learn.documents %}
                    <li class="article-navi-contents-item">
        {% if page.type == "index" %}
                        <a class="article-navi-contents-link touch anker" href="#{{ document.id }}">
        {% else %}
                        <a class="article-navi-contents-link touch" href="{{ document.anker }}">
        {% endif %}
                            <i class="fas fa-arrow-right"></i>{{ document.title }}
                        </a>
                    </li>
    {% endfor %}
                </ul>
            </li>
{% endfor %}
        </ul>
    </div>
</nav>