{% if page.lang == "ja" %}
    {% assign list = site.data.learn_ja %}
{% else %}
    {% assign list = site.data.learn_en %}
{% endif %}
<nav id="articleNavi">
    <div class="article-navi-menu">
        <!-- Category -->
        <ul class="article-navi-list">
        {% for learn in list.learn %}
            {% if page.id == "home" %}
                {% if page.type != "index" %}
            <li class="article-navi-item">
                <a class="article-navi-contents-link touch anker" href="{{ learn.url }}"><i class="{{ learn.icon }}"></i>{{ learn.title }}</a>
            </li>
                {% endif %}
            {% else %}
            <li class="article-navi-item">
                <button class="article-navi-button"><i class="{{ learn.icon }}"></i>{{ learn.title }}</button>
                <!-- Documents -->
                <ul class="article-navi-contents-list">
                {% for document in learn.documents %}
                    <li class="article-navi-contents-item">
                    {% if page.type == "index" %}
                        <a class="article-navi-contents-link touch anker" href="#{{ document.id }}">
                            <i class="fas fa-book"></i>{{ document.title }}
                        </a>
                    {% elsif document.links.size != 1 %}
                        <button class="article-navi-button"><i class="fas fa-arrow-right"></i> {{ document.title }}</button>
                        <ul class="article-navi-contents-link-list">
                        {% for link in document.links %}
                            <li class="article-navi-contents-link-item">
                                <a id="{{ link.id }}" class="article-navi-contents-link" href="{{ link.url }}">
                                    <i class="fas fa-book"></i> {{ link.title }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <a id="{{ document.id }}" class="article-navi-contents-link" href="{{ document.links[0].url }}">
                            <i class="fas fa-book"></i> {{ document.title }}
                        </a>
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
              </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</nav>