{% if page.lang == "ja" %}
    {% assign list = site.data.learn_ja %}
{% else %}
    {% assign list = site.data.learn_en %}
{% endif %}
<nav id="articleNavi">
    <div class="article-navi-menu">
        <ul class="article-navi-list">
        {% for learn in list.learn %}
            <li class="article-navi-item">
            {% if page.type == "index" %}
                <a class="article-navi-contents-link touch anker" href="#{{ learn.id }}">
            {% else %}
                <a class="article-navi-contents-link touch" href="../{{ learn.anker }}">        
            {% endif %}
                    <i class="{{ learn.icon }}"></i>{{ learn.title }}
                </a>
                <ul class="article-navi-contents-list">
                {% for document in learn.documents %}
                    <li class="article-navi-contents-item">
                    {% if page.type == "index" %}
                        <a class="article-navi-contents-link touch anker" href="#{{ document.id }}">
                    {% else %}
                        <a class="article-navi-contents-link touch" href="{{ document.anker }}">
                    {% endif %}
                            <i class="fas fa-arrow-right"></i>{{ document.title }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>
</nav>