<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Docs test</title>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">

</head>

<body>

{{ content }}


<ul>
<li>{{ site.time }}</li>
<li>{{ page.url }}</li>
<li>{{ page.date }}</li>
<li>{{ page.id }}</li>
<li>{{ page.categories }}</li>
<li>{{ page.collection }}</li>
<li>{{ page.tags }}</li>
<li>{{ page.dir }}</li>
<li>{{ page.name }}</li>
<li>{{ page.path }}</li>
<li>{{ page.next }}</li>
<li>{{ page.previous }}</li>
</ul>

</body>
</html>
