<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Docs test</title>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">

</head>

<body>

<div id="container">

<header id="header">
  <div class="header-title">
    <div class="header-logo"></div>
    <div class="header-name"><i class="fas fa-school"></i><span class="header-title-category">Docs test</span><span class="header-title-name"></span></div>
  </div>
  <nav id="navi">
  </nav>
  <div class="header-return"><a class="header-return-link" href="#"><i class="fas fa-arrow-alt-circle-left"></i> 一覧に戻る</a></div>
</header>


<main id="main">
<article id="article">
    <header class="article-header">
        <h1>
          <span class="article-header-logo"><img src="./asset/img/Exastro-EPOCH-logo1-rgb.svg" alt="Exastro EPOCH"></span>
          {{ page.title }}
        </h1>
        <div class="article-header-info">
          <ul class="article-header-info-list">
            <li class="article-header-info-item">
              <dl class="article-header-info-card">
                <dt class="article-header-info-title">Version</dt>
                <dd class="article-header-info-body">{{ page.version }}</dd>
              </dl>
            </li>
            <li class="article-header-info-item">
              <dl class="article-header-info-card">
                <dt class="article-header-info-title">Author</dt>
                <dd class="article-header-info-body">{{ page.author }}</dd>
              </dl>
            </li>
            <li class="article-header-info-item">
              <dl class="article-header-info-card">
                <dt class="article-header-info-title">Release date</dt>
                <dd class="article-header-info-body">{{ page.date }}</dd>
              </dl>
            </li>
            <li class="article-header-info-item">
              <dl class="article-header-info-card">
                <dt class="article-header-info-title">Last modified</dt>
                <dd class="article-header-info-body">{{ page.lastmod }}</dd>
              </dl>
            </li>
          </ul>
        </div>
    </header>
    <section class="article-section">
{{ content }}
    </section>
  </article>
</main>

<footer id="footer">
  <div class="copyright"><small>Copyright © XXXXX</small></div>
</footer>

</div>

</body>
</html>
